<div class="Order-container">
    <section class="Order--prod__info">
        <h1 class="prod-info__heading">Danh sách đơn hàng</h1>

        <table id="Order_table" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Số DH</th>
                    <th scope="col">Ngày</th>
                    <th scope="col">Giá trị</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each Items}}
                    <tr>
                        <td>{{this.Tran_Num}}</td>
                        <td>{{this.Tran_Date}}</td>
                        <td>{{this.Amt}}</td>
                        <td>{{this.Status}}</td>
                        <td><img
                                src="{{this.Order_Img}}"
                                alt=""
                                class="cart_order--status"
                            /></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </section>

</div>