<main class="profile">
    <div class="container">
        {{#each Items}}
            <div class="profile-container">
                <div class="row">
                    <div class="col-4 col-lg-6 col-md-12">
                        <aside class="profile__sidebar">
                            <div class="profile-user">
                                <img
                                    src="{{this.User_Avarta}}"
                                    alt=""
                                    class="profile-user__avatar"
                                />
                                <h1
                                    class="profile-user__name"
                                    id="profile_User_FullName"
                                >{{this.User_FullName}}</h1>
                            </div>
                            <div class="profile-menu">
                                <h3 class="profile-menu__title">Quản lý</h3>
                                <ul class="profile-menu__list">
                                    <a href="/user">
                                        <li
                                            class="profile-menu__item prevent-select"
                                        >
                                            <span class="profile-menu__icon">
                                                <img
                                                    src="./icons/email.svg"
                                                    alt=""
                                                    class="icon"
                                                />
                                            </span>
                                            <span
                                                id="profile_User_Email"
                                                name="profile_User_Email"
                                                class="profile-menu__desc"
                                            >
                                                {{this.User_Email}}</span>

                                        </li>
                                    </a>
                                    <li
                                        id="Id_theme"
                                        class="profile-menu__item prevent-select profile-menu__item--click"
                                    >
                                         
                                        <span
                                            class="profile-menu__icon profile-menu__icon--left"
                                        >
                                            <img
                                                id="theme_st"
                                                src="./icons/sang.svg"
                                                alt=""
                                                class="icon"
                                            />
                                        </span>
                                        <span
                                            id="Id_gd"
                                            class="profile-menu__desc"
                                        >
                                            Bật giao diện tối</span>
                                         

                                    </li>
                                    <a href="/changepassword">
                                        <li
                                            id="Id_Password_change"
                                            class="profile-menu__item prevent-select profile-menu__item--click"
                                        >

                                            <span class="profile-menu__icon">
                                                <img
                                                    src="./icons/change-password.svg"
                                                    alt=""
                                                    class="icon"
                                                />
                                            </span>
                                            <span class="profile-menu__desc">
                                                Thay đổi mật khẩu</span>

                                        </li>
                                    </a>

                                    <li
                                        id="Id_Exit"
                                        class="profile-menu__item prevent-select profile-menu__item--click"
                                    >

                                        <span class="profile-menu__icon">
                                            <img
                                                src="./icons/exit.svg"
                                                alt=""
                                                class="icon"
                                            />
                                        </span>
                                        <span class="profile-menu__desc">
                                            Thoát đăng nhập</span>

                                    </li>

                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-8 col-lg-6 col-md-12">
                        <form class="profile-info">
                            <h2 class="profile-info__title">Thông tin người dùng</h2>
                            <div class="row">
                                <div class="col-6 col-lg-12 col-md-12">
                                    <div class="profile-info__list">
                                        <span class="profile-info__img"><img
                                                src="./icons/user.svg"
                                                alt=""
                                                class="icon"
                                            /></span>
                                        <div class="profile-info__items">
                                            <label
                                                class="profile-info__items--label"
                                                for="user_name"
                                            >Tên đầu đủ người dùng</label>
                                             
                                            <input
                                                class="profile-info__items--text"
                                                type="text"
                                                id="User_FullName"
                                                name="User_FullName"
                                                value="{{this.User_FullName}}"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12 col-md-12">
                                    <div class="profile-info__list">
                                        <span class="profile-info__img"><img
                                                src="./icons/phone.svg"
                                                alt=""
                                                class="icon"
                                            /></span>
                                        <div class="profile-info__items">
                                            <label
                                                class="profile-info__items--label"
                                                for="user_name"
                                            >Điện thoại
                                            </label>
                                             
                                            <input
                                                class="profile-info__items--text"
                                                type="text"
                                                id="User_Phone"
                                                name="User_Phone"
                                                value="{{this.User_Phone}}"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12 col-md-12">
                                    <div class="profile-info__list">
                                        <span class="profile-info__img"><img
                                                src="./icons/address.svg"
                                                alt=""
                                                class="icon"
                                            /></span>
                                        <div class="profile-info__items">
                                            <label
                                                class="profile-info__items--label"
                                                for="user_name"
                                            >Địa chỉ liên lạc</label>
                                             
                                            <input
                                                class="profile-info__items--text"
                                                type="text"
                                                id="User_Address"
                                                name="User_Address"
                                                value="{{this.User_Address}}"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12 col-md-12">
                                    <button
                                        id="btn_profile_update"
                                        class="btn btn--primary prevent-select"
                                    >
                                        <img
                                            src="./icons/edit.svg"
                                            alt=""
                                        /></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <form
        class="profile__model"
        method="post"
        action="user/post"
        enctype="multipart/form-data"
    >
        <div class="profile__model-content">
            <div class="profile__form-group">
                <label
                    for="avrtar__image"
                    class="btn btn--primary profile__form-group--label"
                >Chọn ảnh</label>
                <input
                    id="avrtar__image"
                    type="file"
                    name="avrtar__image"
                    accept="image/*"
                    class="profile__form-group--input"
                    style="visibility:hidden;"
                />
                <img
                    id="img__avarta"
                    src=""
                    alt=""
                    class="profile__form-group--img"
                />
            </div>
            <button
                type="submit"
                name="upload"
                class="btn btn--primary profile__form-group--label"
            >Lưu ảnh</button>

        </div>

    </form>
</main>